*{
    font-family: Roboto;
}

.header{
    background-color: rgb(84, 84, 207);
    color: white;
}

.main{
    background-color: rgb(84, 84, 207);
    color: white;
}

.info{

}

.quote{
    background-color: rgb(223, 223, 223);
}

.cta{

}

.footer{
    background-color: rgb(37, 37, 100);
    color: white;
    text-align: center;
    padding

}