*{
    font-family: Roboto;
    margin: 0 0;
    padding: 0;
}

.header {
    color: white;
    background-color: #1f2937;
}

.htop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAF8
}

.titlesub{
    font-size: 18px;
    color: #b3b3b3
}

.hlogo{
    font-size: 24px;
    color:#f9FAF8
}


.headerbody{
    display: flex;
    justify-content: center;
    padding: 100px;
}

.hbleft{
    width: 350px
}

.hbright{
    background-color: #5a5a5a;
    height: 200px;
    width: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #3882F6;
    color:#f9FAF8;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}

/* info section */

.h2{
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
    text-align: center;
}

.boxes{
    color: #1f2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 20px 50px 200px 200px;
}

.box{
    width: 100px;
    height: 100px;
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 10px;
}

